{% extends "base.html" %}
{% block content %}
<br />
{% if contexto.estado == 'success' %}
<div class="alert alert-success" role="alert">
    -La información es es correcta-
</div>
{% endif %}
<H1 style="color:#FF0000">Formulario</H1>
<form method="post">
    {% csrf_token %}
    {{ form }}                          <!-- modificacion <!-->
    <input type="submit" value="Submit"> <!-- modificacion <!-->

    <!-- prueba1 <!-->
    <!-- <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Nombre</label>
        <input class="form-control {% if form.name.errors%} is-invalid{% endif%}" type="text" name="nombre"
            placeholder="nombre">
        <div class="invalid-feedback">
            {% for error in form.nombre.errors %} {{error}} {% endfor %}
        </div>
    </div>
    
    <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Ciudad</label>
        <input class="form-control {% if form.city.errors%} is-invalid{% endif%}" type="text" name="ciudad" ,
            placeholder="ciudad">
        <div class="invalid-feedback">
            {% for error in form.ciudad.errors %} {{error}} {% endfor %}
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div><!-->
</form>
{% endblock %}